/* configurações globais do site*/
html {
    height: 100%;
}

body {
    background-color: #1c0c3f;
    font-family: sans-serif;
    color: #fff;
    margin: 0;
}

.title {
    padding: 0 20px;
    font-size: 1.75em;
    text-transform: uppercase;

}

h1.title {
    margin: 40px auto 20px;
}

.text-justify {
    text-align: justify;
}

.text-certer {
    text-align: center;
}